@model LogType

@switch (Model)
{
    case LogType.Update:
        <div class="flex items-center justify-center w-12 h-12 rounded-full bg-yellow-100 dark:bg-yellow-700">
            <i class="fa-solid fa-pen text-yellow-600 dark:text-yellow-200 text-lg"></i>
        </div>
        break;

    case LogType.Create:
        <div class="flex items-center justify-center w-12 h-12 rounded-full bg-green-100 dark:bg-green-700">
            <i class="fa-solid fa-plus text-green-600 dark:text-green-200 text-lg"></i>
        </div>
        break;

    case LogType.Delete:
        <div class="flex items-center justify-center w-12 h-12 rounded-full bg-red-100 dark:bg-red-700">
            <i class="fa-solid fa-trash text-red-600 dark:text-red-200 text-lg"></i>
        </div>
        break;

    case LogType.Authorize:
        <div class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-100 dark:bg-blue-700">
            <i class="fa-solid fa-user text-blue-600 dark:text-blue-200 text-lg"></i>
        </div>
        break;

    default:
        <div class="flex items-center justify-center w-12 h-12 rounded-full bg-gray-100 dark:bg-gray-700">
            <i class="fa-solid fa-circle-info text-gray-600 dark:text-gray-200 text-lg"></i>
        </div>
        break;
}