@model PageViewModel

<section class="py-20 bg-[var(--light-bg)]">
    <div class="container text-center mx-auto px-4">
        <p class="text-center text-[var(--primary-color)] mb-2">Arşiv</p>
        <h2 class="text-center text-4xl section-title mb-12">Popüler Çalışmalarım</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            @foreach (var i in Model.Projects)
            {
                <div class="gallery-item" data-category="yağlı-boya modern">
                    <img src="@(i.Images.FirstOrDefault(x => x.IsMainImage)?.Url ?? i.Images.FirstOrDefault()?.Url)" class="gallery-image">
                    <div class="gallery-overlay">
                        <h3>@i.DisplayName</h3>
                        <a href="exhibition-detail.html?id=1" class="text-white">Detayları Gör <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>